<div class="container mt-5">
    <div style="text-align: center;">
        @if(!registerMode){
            <h1>Welcome, find your opponent</h1>
            <p class="lead">Come on in to view who are your next opponent</p>
            <div class="text-center">
                <button (click) ="registerToggle()" class="btn btn-primary btn.lg m-2">Register</button>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <p>
                            Esta aplicação é o projeto final do curso técnico de programador. 
                            Trata-se de uma rede social onde super-heróis e vilões podem se registar, 
                            criar inimizades ou alianças com outros personagens.
                            Possui um presence tracker para visualizar quem está online e permite o envio de mensagens instantâneas.
                            Além disso, tem integração CI/CD com o GitHub. Estejam à vontade para se registar ou utilizar as credencias disponibilizadas.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            This application is the final project of the technical programming course. 
                            It is a social network where superheroes and villains can register, 
                            form rivalries or alliances with other characters. 
                            It features a presence tracker to see who is online and allows instant messaging. 
                            Additionally, it has CI/CD integration with GitHub. Feel free to register or use the provided credentials. 
                        </p>
                    </div>
                </div>
                <!--
                <button class="btn btn-info btn.lg m-2">Learn more</button>
                -->
            </div>
        }@else {
            <div class = "container">
                <div class="row justify-content-center"></div>
                <div class="col-4">
                    <app-register
                    (cancelRegister) = "cancelRegisterMode($event)">
                </app-register>
                </div>
            </div>
        }
    </div>
</div>
